.main-box{
    border: 1px solid black;
    height: 600px;
    width: 1200px;
    float: left;
}
a img{
    height: 200px;
    width: 300px;
    float: left;
}
a img:hover{
    box-shadow: 0 0 10px black;
}
iframe{
    width: 1200px;
    height: 600px;
    
}